@media screen and (max-width: 1200px) {

    .martop-btn {
      margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
  .slider-margin {
    margin-top: 20px;
  }

}

@media screen and (max-width: 768px) {
  .martop {
    margin-top: 30px;
  }
  .margin-zero {
    margin-left: 0;
    margin-right: 0;
  }
}

/* basic website styling */
html, body {
  font-family: "Open Sans", sans-serif;
  color: #727272;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #272727;
}

p {
  font-size: 15px;
}

a {
color: black;
}

footer {
  background-color: #1a1a1a;
  color: #727272;
}

/* Fixed bootstrap classes */

.img-thumbnail {
  border-width: 0;
  padding: 0;
  border-radius: 0;
}

/* added styling that is used commonly in the document */
.padbet {
  padding: 45px 0;
}

.difback {
  background-color: #f6f6f6;
}

.stdback {
  background-color: white;
}

.line {
  width: 60px;
  height: 2px;
  background-color: #bd187e;
  margin: 25px auto;
}

.shadowed {
  font-size: 13px;
  color: #b9b9b9;
}

.btn {
  border-radius: 1.25rem;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-outline-danger {
  color: #bd187e;
  border-color: #bd187e;

}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #bd187e;
  border-color: #bd187e;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
}

/* navbar styling */
nav.navbar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* navbar link styling */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #262626;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  padding: 0 20px;
}
.navbar ul.navbar-nav li.nav-item a.nav-link:hover, .navbar ul.navbar-nav li.nav-item a.nav-link:active, .navbar ul.navbar-nav li.nav-item a.nav-link:focus {
  color: #bd187e;
}

/* navbar dropdown menu set up and styling */
.navbar .dropdown-menu {
 margin-top: 0px;
}
.navbar ul.navbar-nav li.dropdown:hover > div.dropdown-menu {
  display: block;
  transition: 0.4s
}
.navbar ul.navbar-nav li.dropdown > div.dropdown-menu {
  display: none;
  transition: 0.4s;
}

.dropdown-menu {
  padding: 15px;
  border-width: 1px;
  border-color: #e4e4e4;
  white-space: nowrap;
  text-transform: uppercase;
}

.dropdown-menu a.dropdown-link {
  color: #262626;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

.dropdown-menu ul.list-unstyled li {
  margin: 10px 0;
}

/* slider styling */
#slider {
  padding-top: 83px;
}

.sliderfit {
width: auto;
height: auto;
}

/* buy package styling */

.tab-menu-active {
  background-color: #bd187e;
  color: white;
  padding: 15px 0;
  border: 2px #fff solid;
  display: block;
}

.tab-menu {
  background-color: #f5f5f5;
  color: #161616;
  padding: 15px 0;
  border: 2px #fff solid;
  display: block;
  cursor: pointer;
}

.hidden {
  display: none;
}

.tab-menu-item {
  margin: 15px 10px 15px 25px;
}

div.tab-menu-item ul > li {
  margin-left: 5px;
}

i.fa-check {
  color: #bd187e;
  padding: 5px 20px 10px 0;
}


/* scroll top button styles */

#scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #bd187e;
  display: block;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}
